### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Vi tmp swap files ###
.*.swp

### allow some local writing
Untraced.txt

###IntelliJ
.idea/*
